body{
    background-color: #EAF6F6;
}
hr{
    border: none;
    border-top: 8px dotted ;
    border-color: rgba(214, 213, 213, 0.91);
    height: 0px;
    width: 10%;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}